/*OSWALD*/

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-Bold.ttf);
    font-weight: bold;
}

/*OPENSANS*/
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
    font-weight: 400;
}