/*INFO FOR CLOTHES*/

/*INFO SEARCH*/
.info_centre_text{
    font-family: Oswald;
    font-weight: 400;
    font-size: 2.2rem;
}

.info_details{
    font-family: Oswald;
    font-weight: 500;
    font-size: 2.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* unvisible*/
.hige_big_text{
    font-family: Oswald;
    font-weight: 500;
    font-size: 6.5rem;
    color: white;

    border-bottom: 3px solid white;
    width: 1%;
}


/* BLOCK 1 INFO CLOTHE*/
.info_clothe{
    padding: 2% 5%;
    display: flex;
}

/* BLOCK 1 left*/
.info_clothe_left{
    width: 45%;
    text-align: center;
}
/* BLOCK 1 left top*/
.info_clothe_left_big{
    width: 90%;
}
/* BLOCK 1 left bottom*/
.info_clothe_left_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info_clothe_left_bottom > a{
    margin: 5%;
    padding: 5%;
    border: 1px solid #333333;
}
.info_clothe_left_bottom > a > img{
    width: 100%;
    margin: 0 auto;
}

/* BLOCK 1 right*/
.info_clothe_right{
    width: 54%;
}

.info_clothe_right_text1{
    font-family: Oswald;
    font-weight: 400;
    font-size: 4.8rem;
}
/* BLOCK 1 right span*/
.info_clothe_right > div > span{
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.5rem;
}

.stars_text2{
    display: flex;
    align-items: center;
    column-gap: 2%;
}
/* BLOCK 1 right p*/
.info_clothe_right > p{
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.8rem;

    margin-bottom: 0;
}

.price{
    font-family: Oswald;
    font-weight: 600;
    font-size: 3.6rem;
}
/* BLOCK 1 right btns*/
.info_clothe_right_btns{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 3%;
    margin: 3% 0;
    white-space: nowrap;

    font-family: Oswald;
    font-weight: 400;
    font-size: 2.4rem;
}
.add_to_bag_btn{
    background-color: #B93B54;
    color: white;
}
.add_to_wishlist_btn{
    border: 1px solid black;
    color: #B93B54;
}
.info_clothe_right_btns > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1%;
}
/* BLOCK 1 right btn svg*/
.info_clothe_right_btns > a > svg{
    padding-right: 10%;
    flex-shrink: 0;
}

/* BLOCK 1 right icon*/
.info_clothe_right_icons{
    display: flex;
    align-items: center;
    column-gap: 3%;
    margin: 3% 0;
}

/* BLOCK 1 right grey block*/
.w_free_sh{
    background-color: #FAFAFA;
    padding: 3% 2% 2%;
}
/* BLOCK 1 top text*/
.w_free_sh > div{
    font-family: Oswald;
    font-weight: 400;
    font-size: 2.4rem;

    text-align: center;
    padding-bottom: 1%;
}

.w_free_sh > hr{
    width: 70%;
    border: 1px solid #B93B54;
}
/* BLOCK 1 small texts*/
.w_free_sh > div > div > p{
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.4rem;
}

.w_free_sh_duble{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.w_free_sh_duble > div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
    width: 50%;
}





/* BLOCK 2 DETAILS*/
.details{
    font-family: Oswald;
    font-weight: 600;
    font-size: 4.8rem;

    color: #333333;
    text-align: center;

    padding: 0 7%;
    margin-top: 2%;
}
.details_text{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2rem;

    color: #333333;
    text-align: start;

    background-color: #FAFAFA;
    padding: 3% 7%;
    margin: 3% 0;
}




/* BLOCK 3 REVIEWS*/
.reviews{
    font-family: Oswald;
    font-weight: 600;
    font-size: 4.8rem;

    color: white;
    background-color: #333333;

    text-align: center;
    padding: 2% 5% 0;
}
/* BLOCK 3 CARTS*/
.reviews_carts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5%;
}
.reviews_cart{
    background-color: white;
    border-radius: 20px;
    width: 30%;

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1%;
    text-align: start;
}

.reviews_cart_left{
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.4rem;

    color: black;
    padding-top: 1rem;
    width: 35%;
}
.reviews_cart_right{
    font-family: OpenSans;
    font-weight: 400;
    font-size: 1.2rem;

    color: black;
    width: 64%;
}

/*NUV ON FOOTER*/
.nav_on_footer_rev{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3% 0;
    background-color: #333333;
    

    font-size: 2rem;
    font-family: Oswald;
    font-weight: 400;
}
.nav_on_footer_rev > a{
    border: 1px solid #A04955;
    padding: 0.5% 1%;
    margin: 0 0.5% 0;
    background-color: #F1F1F1;
    color: #A04955;
}




/* BLOCK 4 CARTS*/

.section_youre{
    padding: 2% 7% 0;
}
.youre_fitback{
    padding: 3% 7%;
    background-color: #FAFAFA;
    text-align: center;

    font-family: Oswald;
    font-weight: 600;
}

.youre_fitback_text1{
    font-size: 3.6rem;
    color: #A04955;
}
.youre_fitback_text2{
    font-size: 4.8rem;
    color: #333333;
}

.youre_fitback > p{
    font-size: 2.4rem;
}
.youre_fitback_rating > div > p{
    font-size: 2.4rem;
}

.youre_fitback_rating > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;
}

.all_iputs{
    padding: 7% 7%;
}
.top_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.top_inputs > input{
    width: 47%;
    padding: 1% 2%;
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 1px solid #333333;
}
.one_iput{
    width: 100%;
    height: 12rem;
    margin-top: 2%;
    padding: 1% 2%;
    
    box-sizing: border-box;
    background-color: #FAFAFA;
    border: 1px solid #333333;
}

.youre_fitback_rating_btn{
    font-weight: 400;
    font-size: 2.4rem;

    color: white;
    background-color: #A04955;
    padding: 0.5% 10%;
}