/*BTN UPP*/     /* < 600px */
@media (max-width: 600px) {
    .btn_upp svg{
        width: 25px;
        height: 25px;
        padding: 3%;
    }
}

/*HEADER*/      /* < 1 000px */
@media (max-width: 1000px) {
    .nuv_ul{
        column-gap: 1.6rem;
        font-size: 1.6rem;
    }
    .search{
        font-size: 1.3rem;
        width: 19rem;
    }
}

/*FOOTER*/      /* < 1 200px */
@media (max-width: 1200px) {
    .footer{
        font-size: 1.6rem;
    }
    .footer > div > ul > li > a{
        font-size: 1.4rem;
        text-transform: capitalize;
    }
    .email_subscribe{
        font-size: 1.4rem;
    }
}


/*1 BLOCK*/     /* < 950px */
@media (max-width: 950px) {
    .section_1_left_text1{
        font-size: 5rem;
    }
    .section_1_left_text2{
        font-size: 1.8rem;
    }
    .big_btn{
        font-size: 1.8rem;
    }
}
/* < 710px */
@media (max-width: 710px) {
    .section_1{
        display: initial;
        padding: 0 2rem;
    }
    .section_1_left{
        padding-left: 5%;
    }
    .section_1_right{
        padding-right: 5%;
    }
    .section_1_left_text1{
        font-size: 3.5rem;
    }
    .section_1_left_text2{
        font-size: 1.4rem;
    }
    .big_btn{
        font-size: 1.4rem;
    }
    .section_1_right_img{
        width: 65%;
    }
}


/*2 BLOCK*/     /* < 1 000px */
@media (max-width: 1000px) {
    .section_2_cart{
        width: 23%;
    }
    .section_2_cart_btn{
        width: 80%;
    }
}
/* < 800px */
@media (max-width: 800px) {
    .section_2_text1{
        font-size: 2.6rem;
    }
    .section_2_cart{
        width: 24%;
    }
    .section_2_text3{
        font-size: 1.6rem;
    }
    .cost{
        font-size: 1.6rem;
    }
    .section_2_cart_btn{
        font-size: 1.4rem;
        width: 90%;
    }

    .stars > svg{
        width: 18px;
    }
}


/*3 BLOCK*/     /* < 800px */
@media (max-width: 800px) {
    .section_3{
        display: inline-table;
    }
    .section_3_right{
        width: 90%;
    }
    .section_3_right_text1{
        font-size: 5rem;
    }
    .section_3_right_text2{
        font-size: 1.8rem;
    }
    .section_3_left{
        text-align: center;
    }
    .section_3_left_img{
        width: 65%;
    }
}


/*4 BLOCK*/     /* < 1 300px */
@media (max-width: 1300px) {
    .section_4_fc{
        font-size: 2.6rem;
    }
    .section_4_text{
        font-size: 2rem;
    }
    .section_4_btn{
        font-size: 2rem;
        width: 70%;
    }
}
/* < 1 120px */
@media (max-width: 1120px) {
    .section_4_fc{
        font-size: 2.2rem;
    }
    .section_4_text{
        font-size: 1.6rem;
        width: 90%;
    }
    .section_4_btn{
        font-size: 1.6rem;
        width: 80%;
    }
}
/* < 900px */
@media (max-width: 900px) {
    .section_4_fc{
        font-size: 1.8rem;
    }
    .section_4_text{
        font-size: 1.5rem;
        width: 95%;
    }
    .section_4_btn{
        font-size: 1.5rem;
        width: 90%;
    }
}
/* < 570px */
@media (max-width: 570px) {
    .section_4{
        display: grid;
        row-gap: 2%;
    }
}


/*5 BLOCK*/     /* < 1 000px */
@media (max-width: 1000px) {
    .section_5_text_2{
        font-size: 2rem;
        padding: 0;
    }
}
/* < 630px */
@media (max-width: 630px) {
    .section_5_text_1{
        font-size: 5rem;
    }
    .section_5_text_2{
        font-size: 1.8rem;
        padding: 0;
    }
    .section_5_btn{
        font-size: 1.8rem;
    }
}


/*6 BLOCK*/     /* < 900px */
@media (max-width: 900px) {
    .section_6_text1{
        font-size: 4rem;
    }
    .section_6_cart{
        width: 28%;
    }
    .section_6_fc{
        font-size: 1.8rem;
    }
    .section_6_btn{
        font-size: 1.5rem;
    }
}
/* < 600px */
@media (max-width: 600px) {
    .section_6_text1{
        font-size: 3rem;
    }
    .section_6_cart{
        width: 30%;
    }
    .section_6_fc{
        font-size: 1.6rem;
    }
    .section_6_btn{
        font-size: 1.4rem;
        width: 90%;
    }
}


/*7 BLOCK*/     /* < 750px */
@media (max-width: 750px) {
    .section_7_text1{
        font-size: 4rem;
    }
    .section_7_text2{
        font-size: 1.8rem;
    }
    .section_7_btn{
        font-size: 1.8rem;
        width: 30%;
    }
}



/*PAGE SHORTS*/

/*info_search*/     /* < 1 000px */
@media (max-width: 1000px) {
    .info_left_home_svg{
        width: 25px;
    }
    .info_left{
        font-size: 1.6rem;
    }
    .info_right{
        font-size: 1.6rem;
    }
    .search_big_text{
        font-size: 3.5rem;
        width: 70%;
    }
}
/* < 650px */
@media (max-width: 650px) {
    .info{
        column-gap: 1rem;
    }

    .info_left_home_svg{
        width: 22px;
    }
    .info_left{
        font-size: 1.5rem;
    }
    .info_right{
        font-size: 1.5rem;
    }
    .search_big_text{
        font-size: 3rem;
        width: 55%;
    }
    
    .main_colection_text{
        font-size: 1.5rem;
    }
    .stars > svg{
        width: 18px;
    }
}



/*INFO FOR CLOTHES*/     /* < 1 000px */

@media (max-width: 1000px) {
    /*INFO SEARCH*/
    .info_centre_text{
        font-size: 1.6rem;
    }
    .info_details{
        font-size: 1.6rem;
    }
    /* BLOCK 1-2 INFO CLOTHE*/
    .info_clothe_right_text1{
        font-size: 3.5rem;
        display: grid;
    }

    .details_text{
        font-size: 1.6rem;
    }
    .price{
        font-size: 3rem;
    }
    .info_clothe_right_btns{
        font-size: 1.6rem;
    }

}
/* < 700px */
@media (max-width: 700px) {
    /*INFO SEARCH*/
    .info_clothe_right_btns > a > svg{
        width: 25px;
        height: 23px;
        padding-right: 5%;
    }
    .info_clothe_right_btns{
        font-size: 1.4rem;
    }
}


/* BLOCK 3 REVIEWS*/

@media (max-width: 1215px) {
    .rcl_stars > .stars > svg{
        width: 15px;
        height: 14px;
    }
}
@media (max-width: 960px) {
    .rcl_stars > .stars > svg{
        width: 11px;
        height: 10px;
    }
}


/* BLOCK 4 */

@media (max-width: 1230px) {
    .rating_stars > svg{
        width: 41px;
        height: 38px;
    }
}
@media (max-width: 1060px) {
    .rating_stars > svg{
        width: 31px;
        height: 28px;
    }
}
@media (max-width: 890px) {
    .youre_fitback_text1{
        font-size: 2.8rem;
    }
    .youre_fitback_text2{
        font-size: 3.5rem;
    }
    .youre_fitback_rating > div{
        padding: 0 20%;
    }
    .youre_fitback > p{
        font-size: 2rem;
    }
}