/*PAGE SHORTS*/


/*info_search*/
.info_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5% 1%;
}

/*info*/
.info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2%;
    column-gap: 2rem;
}
/*info left*/
.info_left{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: Oswald;
    font-weight: 400;
    font-size: 2.2rem;
}
.info_left_home{
    padding-right: 5%;
}
/*info center*/
.info_centre_svg{
    padding-top: 50%;
}
/*info right*/
.info_right{
    font-family: Oswald;
    font-weight: 500;
    font-size: 2.2rem;
}

/*search*/
.search_big_text{
    font-family: Oswald;
    font-weight: 500;
    font-size: 6.5rem;
    color: #C4C4C4;

    border-bottom: 3px solid #C4C4C4;
    width: 75%;
}


/*MAIN*/
.main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: #E5E5E5;
}

/*main nuv*/
.main_nuv{
    width: 25%;
    background-color: white;
    border: 1px solid #A04955;

    font-size: 2rem;
    font-family: Oswald;
    font-weight: 400;
}
.main_nuv > div{
    padding: 5%;
}

.main_nuv_hr{
    background-color: #A04955;
    height: 2px;
    border: none;
}

/*main colect*/
.main_colection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74%;
}
/*cart*/
.main_colection_cart{
    padding: 2% 0;
    background-color: white;
    width: 32%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.main_colection_cart > a > img{
    width: 80%;
}
.main_colection_text{
    font-size: 2rem;
    font-family: Oswald;
    font-weight: 400;
}

/*NUV ON FOOTER*/
.nav_on_footer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5%;
    background-color: #E5E5E5;
    

    font-size: 2rem;
    font-family: Oswald;
    font-weight: 400;
}
.nav_on_footer > a{
    border: 1px solid #A04955;
    padding: 0.5% 1%;
    margin: 0 0.5% 2%;
    color: #A04955;
}