@import url(./fonts.css);
@import url(./info_for_clothes.css);
@import url(./shorts.css);


/*TEGS*/
html{
    font-size: 10px;
}

body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}


/*BTN UPP*/
.btn_upp{
    background-color: #A04955;
    padding: 1%;
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-radius: 50%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_upp_arr{
    width: 90%;
}

/*HEADER*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    padding: 0 5%;

    font-family: Oswald;
    font-weight: 400;
    font-size: 2rem;
}

/*logo*/
.logo{
    width: 25%;
}
.logo_img{
    width: 90%;
}

/*nuv*/
.nuv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 74%;
}
.nuv_ul{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    list-style-type: none;
}

/*search*/
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: 1px solid #A04955;
    border-radius: 54px;
    padding: 0.5% 1%;
    width: 23rem;

    color: #787878;
    font-size: 1.5rem;
}
.search_text{
    padding-left: 5%;
}



/*1 BLOCK*/

.section_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 89vh;
    padding: 0 4% 0 5%;
}

/*1 left*/
.section_1_left_text1{
    font-family: Oswald;
    font-weight: bold;
    font-size: 6.5rem;
}
.section_1_left_text2{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;

    margin: 1rem 0 4rem;
}

/*1 btn*/
.big_btn{
    border: 1px solid black;
    color: black;
    padding: 2% 5%;

    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;
}

/*1 right*/
.section_1_right{
    display: flex;
    justify-content: end;
}
.section_1_right_img{
    width: 85%;
    padding-bottom: 2rem;
}


/*2 BLOCK*/

.section_2{
    background-color: #F1F1F1;
    padding: 0 5% 5%;
    box-sizing: border-box;
    text-align: center;

    font-family: Oswald;
    font-weight: 500;
}

.section_2_text1{
    font-size: 3.6rem;
    padding-top: 5%;
}
.section_2_text2{
    font-size: 6.4rem;
    padding-bottom: 2.5%;
}

/*2 cart*/
.carts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section_2_cart{
    padding: 2% 0;
    background-color: white;
    width: 20%;
    box-sizing: border-box;
    display: grid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.section_2_cart_a{
    margin: 0 auto;
}
.section_2_cart_a > img{
    width: 100%;
}


.section_2_text3{
    font-size: 2.4rem;
}
.stars{
    margin: 3% 0;
}
.cost{
    font-family: Oswald;
    font-weight: 200;
    font-size: 1.8rem;
}
.cost_spun{
    font-family: Oswald;
    font-weight: 500;
}

/*2 cart btn*/
.section_2_cart_btn{
    background-color: #A04955;
    margin: 5% auto 3%;
    color: white;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.8rem;
}
.pack{
    padding-right: 4%;
}


/*3 BLOCK*/

.section_3{
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

/*3 left*/
.section_3_left_img{
    width: 95%;
}

/*3 right*/
.section_3_right{
    width: 60%;
    padding: 0 0 10% 2%;
}
.section_3_right_text1{
    font-family: Oswald;
    font-weight: bold;
    font-size: 6.5rem;
}
.section_3_right_text2{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;

    margin: 1rem 0 4rem;
}


/*4 BLOCK*/

.section_4{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 4% 10% 5%;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

/*4 left*/
.section_4_left{
    background: url(../img/menBG_4left.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 80%;
    background-position-x: center;
}

/*4 right*/
.section_4_right{
    background: url(../img/menBG_4right.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 80%;
    background-position-x: center;
}

/*4 left - right*/
.section_4_fc{
    font-family: Oswald;
    font-weight: 500;
    font-size: 3.6rem;
    color: white;

    margin: 64% 0 0;
}
.section_4_text{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;

    width: 80%;
    margin: 6% auto 3%;
    text-align: center;
}

/*4 btn*/
.section_4_btn{
    border: 1px solid black;
    color: black;
    padding: 0.5% 0;
    display: block;
    width: 60%;
    margin: 0 auto;

    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;
}


/*5 BLOCK*/

.section_5{
    background: url(../img/bgimg_section5.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*5 texts*/
.section_5_text{
    width: 80%;
    padding: 2% 0 5% 10%;
}
.section_5_text_1{
    font-family: Oswald;
    font-weight: bold;
    font-size: 6.4rem;
    color: white;
}
.section_5_text_2{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.5rem;
    color: white;

    padding: 0 60% 0 0;
    margin-bottom: 5%;
}

/*5 btn*/
.section_5_btn{
    padding: 1% 3%;
    background-color: #A04955;

    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.5rem;
    color: white;
}


/*6 BLOCK*/

.section_6{
    padding: 6% 5%;
}
.section_6_becCol{
    background: linear-gradient( #A04955 70%, white 70% );
}

.section_6_text1{
    text-align: center;
    padding: 2% 0 2%;

    font-family: Oswald;
    font-weight: bold;
    font-size: 6.5rem;
    color: white;
}


/*6 cart*/
.section_6_cart{
    padding: 2% 0;
    width: 24%;
    box-sizing: border-box;
    display: grid;
    background-color: white;
    border: 1px solid #A04955;
    text-align: center;
}
.section_6_img{
    width: 85%;
    margin: 0 auto;
}
.section_6_fc{
    font-family: Oswald;
    font-weight: 500;
    font-size: 2.4rem;
}
/*6 cart btn*/
.section_6_btn{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 1.8rem;
    color: white;

    width: 80%;
    margin: 6% auto 0;
    padding: 1% 0;

    background-color: #A04955;
    text-align: center;
}


/*7 BLOCK*/

.section_7{
    padding: 0 8% 3%;
    text-align: center;
}
.section_7_becCol{
    background: linear-gradient( white 28%, #F3F3F3 28%);
    padding-bottom: 3%;
}


.section_7_text1{
    font-family: Oswald;
    font-weight: bold;
    font-size: 6.5rem;
}
.section_7_text2{
    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;
}

/*7 btn*/
.section_7_btn{
    border: 1px solid black;
    color: black;
    padding: 0.5% 0;
    display: block;
    width: 20%;
    margin: 0 auto;

    font-family: OpenSans;
    font-weight: 200;
    font-size: 2.4rem;
}


/*FOOTER*/

.footer{
    
    font-family: Oswald;
    font-weight: 600;
    font-size: 2.4rem;
    color: white;
    
    background-color: #A04955;
    padding: 3% 3%;
}

.footer_nuv{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

/*footer - li - a*/
.footer > div > ul{
    list-style: none;
}
.footer > div > ul > li > a{
    color: white;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.8rem;
}
.null{
    color: #A04955;
}

/*footer - email_subscribe*/
.email_subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 2% 20% 0 0;
    padding: 1.5% 1.5% 1.5% 3%;

    font-family: Oswald;
    font-weight: 400;
    font-size: 1.8rem;
}
.email_subscribe_add{
    color: #A04955;
}
.email_subscribe_btn{
    color: white;
    background-color: #A04955;
    padding: 1% 10%;
}


/*DATE*/

.date{
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.4rem;
    color: #8e8e8e;

    padding: 0.7% 5%;
}